<div class="bg-white">
  <h1 class="text-center p-5 ">When and with whom are<br> you travelling?</h1>
  <div class= "container d-flex justify-content-center">
  <div id="box" class="mr-4 shadow">
    <div class="form-wrapper" style="width: 200px; margin: 0 auto;">
      <h5>flat picker intalation</h5>
      <%= simple_form_for :search, method: :get do |t| %>
        <%= t.input :start_date, input_html: { class: "datepickr" } %>
      <% end %>
    </div>
  </div>
  <div id="box" class="align-items-center d-flex justify-content-center ml-4">
    <div>
      <div id="date-field" class="mb-4 d-flex">
        <div><strong>Adults</strong></div>
        <div id="rest-adult-button">-</div>
        <div id="adult-number-place"></div>
        <div id="plus-adult-button">+</div>
      </div>
      <div id="date-field" class="mt-4 d-flex">
        <div><strong>Children</strong></div>
        <div id="rest-child-button">-</div>
        <div id="child-number-place"></div>
        <div id="plus-child-button">+</div>
      </div>
    </div>
  </div>
  </div>
  <div class="d-flex justify-content-center p-5">
    <a class="btn btn-outline-secondary mr-5" href="">Back</a>
    <a class="btn btn-primary ml-5" href="">Next</a>
  </div>
</div>
