<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(20,24,22,1) 92%), url(https://images.unsplash.com/photo-1612372992697-81c95501d0d1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80);">
  <!-- agregar que la foto del banner sea la del sample_itinerary -->
  <div class="container">
    <h1>Bush & Beach Getaway</h1>
    <p>Recommended for Gonzalo</p>
    <!-- que lo anterior sea customizado al sample y al usuario -->
  </div>
</div>

<div class="container background-color: #f6f9fc">
  <div class="container stop-card">
    <span class="gray-header">Day 1: Arusha</span>
    <div class="accommodation-card">
      <img src="https://cf.bstatic.com/xdata/images/hotel/max1280x900/91711164.webp?k=c24e2f7f78b68c4336a2a29d7544d68ac369e6ffb4e6f3e775e09aaf7488afeb&o=" alt="rivertrees-country-inn">
      <div class="row d-flex justify-content-between mx-3 my-1">
        <h>Rivertrees Country Inn</h>
        <h>$240 per night</h>
      </div>
      <div class="row d-flex justify-content-between mx-3">
        <p>A charming country estate that was once an old coffee farm, on ten acres of fertile greenery, a sanctuary for the birds and wildlife indigenous to the area</p>
      </div>
    </div>

    <div class="activity-container">
      <h>Activities</h>
      <div class="activity-card">
        <img src="https://res.cloudinary.com/dafd6bi7v/image/upload/v1614888306/activities/Green_Footprint_Canoeing_htp0yv.jpg">
          <div class="activity-card-infos">
              <h2>Canoe Safari</h2>
              <p>PYou will travel to Arusha National Park and canoe in a lake teeming with wildlife, including a family of hippos!</p>
              <h2 class="mt-5">$150</h2>
          </div>
        </div>
        <p class="btn btn-outline-primary" id="activity-btn">Change Activities</p>
      </div>
    </div>

    <div class="container stop-card">
    <span class="gray-header">Day 2-5: Manyara National Park</span>
    <div class="accommodation-card">
      <img src="https://tourdust-production-images.s3.amazonaws.com/uploads/accommodation_image/image/2040/large_WAYOMAN2014-11.jpg">
      <div class="row d-flex justify-content-between mx-3 my-1">
        <h>Manyara Green Camp</h>
        <h>$240 per night</h>
      </div>
      <div class="row d-flex justify-content-between mx-3">
        <p>Deep in the forest, next to a waterfall and surrounded by wildlife. A stylish camp that is visited by elephants, buffaloes and many other animals who come to the river to drink.</p>
      </div>
    </div>

    <div class="activity-container">
      <h>Activities</h>
      <div class="activity-card">
        <img src="https://res.cloudinary.com/dafd6bi7v/image/upload/v1614888370/activities/P1011206_1_zvnk9c.jpg">
          <div class="activity-card-infos">
              <h2>Lakeside Walk</h2>
              <p>Explore Manyara National Park on a half-day walk as you follow animal trails by the lakeside.</p>
              <h2 class="mt-5">$100</h2>
          </div>
        </div>
        <p class="btn btn-outline-primary" id="activity-btn">Change Activities</p>
      </div>
    </div>

    <div class="container stop-card">
    <span class="gray-header">Day 6-9: Serengeti National Park</span>
    <div class="accommodation-card">
      <img src="https://cdn.shortpixel.ai/client/q_lossy,ret_img,w_661,h_250/https://www.chaloafrica.com/wp-content/uploads/2018/04/Wayo-Kogatende-Green-Camp-Aerial-View-661x250.jpg">
      <div class="row d-flex justify-content-between mx-3 my-1">
        <h>Serengeti Green Camp</h>
        <h>$240 per night</h>
      </div>
      <div class="row d-flex justify-content-between mx-3">
        <p>Always in the heart of the Great Migration, this beautiful camp moves within the Serengeti to put you in prime locations for wildlife viewing.</p>
      </div>
    </div>

    <div class="activity-container">
      <h>Activities</h>
      <div class="activity-card">
        <img src="https://res.cloudinary.com/dafd6bi7v/image/upload/v1614891352/activities/Serengeti_Green_Camp_8_mtie4m.jpg">
          <div class="activity-card-infos">
              <h2>Serengeti Walk</h2>
              <p>Enjoy a half-day walk through these epic plains looking for wildlife big and small. This activity is only available when the camp is in Northern Serengeti.</p>
              <h2 class="mt-5">$100</h2>
          </div>
        </div>
        <p class="btn btn-outline-primary" id="activity-btn">Change Activities</p>
      </div>
    </div>


</div>