#border-radius-inquirie {
  border-radius: 20px;
}

#sent-card-inquirie {
  border-radius: 20px 20px 0 0;
  background-color: hsl(0, 2%, 35%);
  font-size: 125%;
}

.heigth-inquirie-image {
    width: 100%;
    height: 250px;
}