#box {
  background-color: rgb(255, 255, 255);
  width: 350px;
  height: 400px;
}

#date-field {
  width: 350px;
  height: 60px;
  border-radius: 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.247);
  font-size: 150%;
}