

<div class="container">
  <h1> What kind of trip are you looking for? </h1>
  <div class="caja">
    <% @travel_styles.each do |style| %>
        <div class="image-card" style="background-image: url('<%= image_path "#{style.picture}" %>');">
          <p><%= style.title %></p>
        </div>
    <% end %>
  </div>
  <div class="btn btn btn-secondary mt-3"> <%= link_to "Back", trips_path %> </div>
  <div class="btn btn btn-secondary mt-3"> <%= link_to "Next", trips_path %> </div>
</div>


<input type="checkbox" id="">
<label for=>