<footer id="footer">
  <div class="align-items-center d-flex justify-content-center">
    <div class="logo mr-3"><strong>Abiona</strong></div>
    <div id="footer-text">Your travel agent for the future</div>
  </div>
</footer>