<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="logo"><strong>Abiona</strong></div>
  <div class="align-items-center d-flex justify-content-center">
    <%= link_to  "My Trips", inquiries_path, class: "mr-3 text-white text-decoration-none" %>
    <div class="mr-3"><%= link_to  "Start", new_trip_path, class:"btn btn-outline-primary" %></div>
      <% if user_signed_in? %>
        <%= link_to  "Log Out", destroy_user_session_path, method: :delete, class: "btn btn-primary" %>
      <% else %>
        <%= link_to  "Log in", user_session_path, class: "btn btn-primary" %>
      <% end %>
  </div>
</div>
