<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="logo"><strong>Abiona</strong></div>
  <div class="align-items-center d-flex justify-content-center">
    <a class="mr-3 text-white text-decoration-none">My trips</a>
    <a class="btn btn-primary">Start</a>
  </div>
</div>
