<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="logo"><strong>Abiona</strong></div>
  <div class="align-items-center d-flex justify-content-center">
    <a class="mr-3 text-white text-decoration-none">My trips</a>
    <%= link_to  "Start", new_trip_path, class:"btn btn-outline-primary" %>
  </div>
</div>
