#sample-itinerario-card-product {
  overflow: hidden;
  height: 300px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 2em;
  border-radius: 8px;
}

@media(max-width: 500px) {
  #sample-itinerario-card-product {
    height: unset;
    flex-direction: column;
    
    img {
      height: 100px;
      width: 100%;
      object-fit: cover;
    }
  }
  .ruta {
    display: none;
  }

  .boton-customize {
    margin-bottom: 24px;
  }

  .container-grupo-abajo {
    justify-content: center;
  }
}

#sample-itinerario-card-product img {
  height: 100%;
  width: 400px;
  object-fit: cover;
}



#sample-itinerario-card-product h2 {
  font-size: 25px;
  font-weight: bold;
  margin: 0;
}

#sample-itinerario-card-product h3 {
  font-size: 20px;
  font-weight: bold;
  color: black;
  margin: 0;
}

#sample-itinerario-card-product h4 {
  font-size: 16px;
  font-weight: bold;
  color: black;
  margin: 0;
}

#sample-itinerario-card-product h5 {
  font-size: 14px;
  font-weight: bold;
  color: grey;
  margin: 0;
}

#sample-itinerario-card-product h6 {
  font-size: 14px;
  font-weight: bold;
  color: rgb(12, 12, 12);
  margin: 0;
}

#sample-itinerario-card-product p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  text-align: justify;
}

#sample-itinerario-card-product .card-product-infos {
  padding: 16px;
}

#titulo-secundario {
  font-size: 18px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.details-product {
  width: 70%;
}

.details-price {
  width: 30%;
}

.ruta  {
  width: 60%;
}

.boton-customize {
  width: 40%;
}

.container-grupo-abajo {
  margin-top: 20px;
}

.foto {
  height: 100%;
}

.grupo-izquierda {
  margin-top: 10px;
}