<div class="bg-white">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-5">
      </div>
    </div>
  </div>
</div>
<%= image_tag "hifive.svg", class: "img-fluid p-5" %>