<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(20,24,22,1) 92%), url(https://www.kibokolandadventures.com/wp-content/uploads/2019/02/Tanzania-Safari-Tour.jpg);">
  <div class="container">
    <h1>Design your dream safari online</h1>
    <p>Tell us what you like and we´ll recommend a custom adventure in Tanzania</p>
    <a class="btn btn-primary">Start</a>
  </div>
</div>
