.navbar-ajax {
  // overflow: hidden;
  // background-color:white;
  display: none;
  background-color: transparent;
  transition: 0.5s background-color ease;
  position: fixed; /* Set the navbar to fixed position */
  bottom: 0; /* Position the navbar at the top of the page */
  height: 64px;
  width: 100%; /* Full width */
  // padding: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  z-index: 999;
}

.navbar-ajax-white {
  display: block;
  background-color: white;
  padding: 16px 32px;
  text-decoration: none;
  font-size: 20px;

  p {
    padding-right: 16px;
  }
}

.price-btn {
  font-size: 16px;
}

@media screen and (max-width: 700px) {
  .navbar-ajax-white {
    font-size: 16px;
  }

  .price-btn {
    font-size: 14px;
    padding: 0.375rem 2rem;  
  }
}
