.ajax-navbar {
  // overflow: hidden;
  background-color:white;
  position: fixed; /* Set the navbar to fixed position */
  bottom: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  padding: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

/* Links inside the navbar */
.ajax-navbar p {
  float: left;
  display: block;
  color: #0E0000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
  font-family: $body-font;
}

.p-8y-24x {
  
}