.banner {
  background-size: cover;
  background-position: center;
  padding: 220px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 36px;
  font-weight: bold;
}

.banner p {
  font-size: 24px;
  color: white;
  opacity: .9;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.separador {
  margin-top: 20px;
}

.banner-in-page {
  height: 480px;
}

@media(max-width: 500px) {
  #trip-advisor-logo {
    width: 100%;
    object-fit: contain;
  }
}