.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
  padding: 8px 24px;
}

.btn-primary-abiona {
  background-image: linear-gradient(168deg, rgba(59,191,72,1) 38%, rgba(45,173,58,1) 78%);
  background-color: transparent;
  border: 0;
  padding: 8px 24px;
  min-width: 160px;
}

.btn-primary-abiona:hover {
  background-image: linear-gradient(168deg, rgba(34,133,44,1) 38%, rgba(30,116,39,1) 78%);
}